<h1>PERSONAJES</h1>
<p>Breaking Bad es una serie que resalta en gran parte por el excelente desarrollo de sus personajes. Tras vivir muchas experiencias a lo largo de las 5 temporadas, se los puede ver de una manera muy diferente si los comparamos con sus primeras apariciones.
</p>
<p>Apretando este botón, podrás ver un listado de todos los personajes de la serie
</p>
<a href="../infoChar">Ver Personajes</a>