
    <h1>BREAKING BAD</h1>

<ul>
<li>Historia</li>
<li><a href="./partials/characters">Personajes</a></li>
<li>Directores</li>
<li><a href="./registrate">Registrate</a></li>



</ul>

{{message}}




    
