<form action= "/registrate" method="post" id="formElem">
    <label for="firstName">Nombre:</label>
<input id="firstName" type="text" name="firstName">

    <label for="lastName">Apellido:</label>
<input id="lastName" type="text" name="lastName">

<input type="submit" value="enviar">

</form>
<script src="../helpers/formController"></script>

